
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;600&display=swap');
@import './variables.scss';

* {
    box-sizing: border-box;
}

.tittle {
    color: $terciary;
}

.page-tittle::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
  
/* The next 2 selectors are for underlined for h3 or title page */
.page-tittle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
}
  
.page-tittle::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: $primary;
    bottom: 0;
    left: calc(50% - 20px);
}


.css-input-border {
    padding-top: 0 !important;
    margin-top: 0 !important;

    border: solid 1px #ced4da !important;
    border-radius: 5px 5px 5px 5px;

    .v-input__control > .v-input__slot:before,
    .v-input__control > .v-input__slot:after {
        display: none !important;
    }

    .v-input__append-inner {
        margin-top: 0 !important;
    }

    input {
        margin-left: 4px !important;
    }
}

.css-information-area {
    background-color: #e6e6e6;
    height: 34px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.v-btn {
    text-transform: none !important;
    font-size: 1.1rem !important;
}
